[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
mlflow = {extras = ["extras"], version = "*"}
boto3 = "*"
psycopg2-binary = "*"
numpy = "*"
scipy = "*"
pandas = "*"
scikit-learn = "*"
minio = "*"
xgboost = "*"
python-dotenv = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.10"
